* {
	margin: 0;
}
body {
	font-family: 'Lora', serif;
}
.navbar {
	border-radius: 0;
	margin-bottom: 0;
}	
.navbar-default {
    background-color: #000;
    border-color: #86281e;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
#main {
	background-image: url(../img/main.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
iframe {
  width: 100%;
  height: auto;
  max-height: 100%;
}
@media screen and (min-device-width: 767px) {
	.navbar-nav {
		width: 100%;
	}
	.navbar-nav li {
		width: 20%;
	}	
}