* {
	margin: 0;
}
body {
	font-family: 'Lora', serif;
}
a {
	color: #fff;
}
p {
	color: #fff;
}
.navbar {
	border-radius: 0;
	margin-bottom: 0;
}	
.navbar-default {
    background-color: #000;
    border-color: #86281e;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
#main {
	background-image: url(../img/main.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
#watch {
	background-color: #000;
	
}
.nav-tabs {
    border-bottom: 1px solid #000;
}
.nav-tabs>li>a {
	font-family: 'Roboto Slab', serif;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0 0 0 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #86281e;
    cursor: default;
    background-color: #000;
    border-left: 1px solid #86281e;
    border-right: 1px solid #86281e;
    border-top: 1px solid #000;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #86281e;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #86281e;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #86281e;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.tab-pane {
	text-align: center;
}
.redline {
	border: 0;
	height: 1px;
	margin: 0;
	color: #86281e;
	background: #86281e;
}
h2 {
	color: #fff;
	margin: 30px 0;
	text-align: center;
}
h3 {
	color: #fff;
	margin: 40px 0;
}
.catalog img {
	margin: 0 auto;
	margin-bottom: 40px;
}
.catalog img:hover {
	border: 1px solid #86281e;
}
.mangaLeft, .mangaRight {
	display: inline-block;
}
#watch>#tt>li>a:hover {
    text-decoration: none;
    background-color: #000;
    border-left: 1px solid #86281e;
    border-right: 1px solid #86281e;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    color: #86281e;
}
.mrg {
	padding-bottom: 40px;
}
#bgimg {
	background-image: url(../img/bg_player.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
@media screen and (min-device-width: 767px) {
	.navbar-nav {
		width: 100%;
	}
	.navbar-nav li {
		width: 20%;
	}
}
@media screen and (max-device-width: 767px) {
	#main {
		background-image: url(../img/main-mini.png);
		background-attachment:fixed;
    	background-position:center;
		background-repeat: no-repeat;
		height: 100vh;
	}	
}